/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2015, 2:45:30 PM
    Author     : Kishor Gutte
*/

#idwrapper{

}
#catagoriesid .thumbnail{
    animation-duration: 1.8s;
}
#songstemplist{
    margin-top: 18px;
}
#mycontainerid .thumbnail{
    animation-duration: 2s;
}
.closebutton{
    font-size: 28px !important;
    margin-top: -12px !important;
    /* color: rgb(14, 8, 244); */
}
.preloader{
    position: absolute;
    top: 48%;
    left: 44%;
    margin-top: -50px;
    margin-left: -50px;
}

.backarrow{
    font-size: 41px;
    color: rgb(48, 114, 172);
}

.backarrow:hover{
    cursor: pointer;
}

#mediacontrols .btn-primary{
    margin-bottom: 5px;   
}
#header{
    background-color: #EEE;
}
#body{
    background-color: #EEE;  
    margin-top: 2px;
}

@media (min-width: 670px){
    #songsbutton {
        display: initial;
    }  

    .kc-horizon { 
        perspective: none !important;
        top: 65% !important;;
    }
    .kc-wrap {
        background-image: none !important;
        padding-top: 8%;
        padding-bottom: 11%;
    } 

    .kc-item img {
        position:absolute;
        pointer-events: none;   /* Make images non-selectable. */
        width:100% !important;    
        height:75% !important;
        /* Make images expand to wrapper size (used in 2d modes). */
    }

    #imagecenter{
        position: absolute;
        text-align: center;
        bottom: 18%;
        width: 200px;
        height: 50%;
        color: white;
        font-size: 20px

    }

}
@media (max-width: 670px){
    #songsbutton {
        display: none;
    }  

    .kc-horizon { 
        perspective: none !important;
        top: 53% !important;;
    }
    .kc-wrap {
        background-image: none !important;
        padding-top: 12%;
        padding-bottom: 21%;
    } 

    .kc-item img {
        position:absolute;
        pointer-events: none;   /* Make images non-selectable. */
        width:120% !important;    
        height:90% !important;
        /* Make images expand to wrapper size (used in 2d modes). */
    }

    #imagecenter{
        position: absolute;
        text-align: center;
        bottom: 18%;
        width: 200px;
        height: 50%;
        color: white;
        font-size: 30px;
        padding-left: 6px;
        padding-right: 6px;

    }

}
@media (max-width: 430px){
    #selectbyid{
        color:rgb(110, 37, 87);
        font-size:13px;
        text-align: center;
    }
}

@media (min-width: 430px){
    #selectbyid{
        color:rgb(110, 37, 87);
        font-size:18px;
        text-align: center;
    }
}
    
    
#addvideotemplist{
    margin-top: 19px;
}
#mycontainerid .thumbnail:hover{
    cursor: pointer;
}

#catagoriesid .thumbnail:hover{
    cursor: pointer;
}


#PauseAddedVideo{
    display: none;
}
.searchedcheckbox{
    display: inline;

}
#mediacontrols{
    margin:1%;
}
#player {
    width: inherit;
}
#playvideo{
    width: 84px; 
    display: none;
}
#pausevideo{
    width: 84px;
}
#showbutton { 
}
#hidebutton{
    width:7%; 
}
.profile{
    margin-right: 1%;
    float:right;
}
#myname{
    font-size: large;
}
#catagories {
    margin-top: 1%

}
.resultTitle{
    max-height: 36px;
    min-height: 36px;
    font-size: small;
    color: #233ADB;
    text-overflow: ellipsis;
    overflow: hidden;
    /* word-wrap: initial; */
}
.resultTitle:hover{
    text-decoration: none;
}
.thumbnail:hover{
    text-decoration: none;
}
/*
Adding css or checkbox
*/

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


/*
Adding css for carousal
*/
/* CSS for images inside item wrapper */

div.kc-horizon + div {
    display: none !important;
}
.kc-item:hover{
    cursor: pointer;

}